html {
  box-sizing: border-box;
}

*,
*::befor,
*::after {
  box-sizing: inherit;
}

a.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link-list {
  margin: 0px;
  display: flex;
  padding-left: 0px;
  justify-content: center;
  padding-bottom: 24px;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  background-color: $white;
  color: $primery-text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.services {
  padding-top: 0px;
}
/* for h2 */
.section-title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* for h3 */
.title {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
img {
  display: block;
}
