$primery-text-color: #757575;
$title-text-color: #212121;
$white: #ffffff;
$accent-color: #2196f3;
$link-color: #afb1b8;
$black: #000000;
$hero-bgc: rgb(47, 48, 58);
$second-bgc: #f5f4fa;
$footer-bgc: #2f303a;
$bord-col-portfolio: #ececec;
$portfolio-col: #eeeeee;
