footer {
  color: $white;
  background: $footer-bgc;
  text-align: center;

  .title {
    color: $white;
    display: inline-block;
    margin-bottom: 20px;
  }
}
.container-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 60px 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.address-container {
  display: inline-block;
  margin-bottom: 60px;
}

address {
  font-style: normal;
  .link {
    @media screen and (min-width: 1200px) {
      display: inline-block;
      margin-top: 9px;
    }
  }
}

.link-container {
  margin-bottom: 60px;

  .title {
    margin-top: 0px;
  }
}

.address.link {
  color: rgba(255, 255, 255, 0.6);
}

.container-fotter .logo {
  @media screen and (min-width: 1200px) {
    padding: 0px;
    margin-bottom: 20px;
  }
}

.subscription .title {
  margin-top: 0px;
}

.social-link.foot {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-icon.foot {
  fill: $white;
}
.input-email {
  width: 100%;
  background-color: $footer-bgc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px 15px;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 358px;
  }
}
