.services {
  @extend %flex-container;

  .title {
    color: $white;
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.services .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.item .title {
  margin-top: 0px;
}

.item.service {
  position: relative;
}

.title.service {
  position: absolute;
  margin: 0px;
  width: 100%;
  left: 0;
  bottom: 0;
}
